@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  --test: #3b6e6e;
}

/* estilizando do maior pro menor, de pouco em pouco */
body {
  background: linear-gradient(236.85deg, #041832 27.26%, #3468a7 96.03%);
  font-family: "Roboto", sans-serif;
  /*   padding: 220px; */
}

/* Inicio do header */
.container {
  background: #ecf4ff;
  margin: 64px;
  box-shadow: 6px 6px 6px #0e1d2f;
  border-radius: 20px;
  color: #1c1c1c;
  padding: 64px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.profile {
  display: flex;
}

.profile-pic {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-height: 180px;
  border-radius: 800px;
}

.descrip {
  margin-left: 16px;
  /* só dando uma margem em relação a imagem */
}

.descrip h1 {
  font-weight: 700;
  font-size: 36px;
}
.descrip h3 {
  font-weight: 400;
  font-size: 24px;
}

.theme button {
  /* alinhar o botao para o final do flex box */
  align-self: flex-end;
  font-size: 20px;
  font-weight: 400;
  padding: 8px 16px;
  background: #ecf4ff;
  border-radius: 100px;
}

/* Fim do header */

/* init do main */
.projects {
  display: flex;
  flex-direction: column;
  background: linear-gradient(230.65deg, #499cfe 27.49%, #9cc8fc 83.19%);
  margin-top: 32px;
  padding: 32px;
  box-shadow: 2px 2px 4px rgba(16, 16, 16, 0.42);
  border-radius: 20px;
}

.title-ul {
  list-style: none;
  font-weight: 700;
  font-size: 36px;
}

.proj-li {
  list-style-type: none;
  font-size: 24px;
  font-weight: 400;
  line-height: 48px;
}

.proj-li a {
  color: #1c1c1c;
  text-decoration: none;
}

/* toggle dark mode */
.dark {
  background: linear-gradient(236.85deg, #375b86 27.26%, #6b87a9 96.03%);
}

.dark .container {
  background: #333439;
  color: #f6f6f6;
}

.dark .projects {
  color: #1c1c1c;
}

.dark .theme button {
  background: #1c1c1c;
  color: #ffffff;
  border: 2px solid #f7f7f7;
}
